@{
    ViewBag.Title = "Home Page";
}

@{
    <div style="align-content:center">
        <div>
            <div style="font-size:xx-large;text-align:center">
                @Html.ActionLink("Entrar", "Login", "Usuario")
            </div>
        </div>
    </div>

}